<form action="<%= defined?(post) && post.persisted? ? post_path(post) : posts_path %>" method="post">
  <% if defined?(post) && post.persisted? %>
    <input type="hidden" name="_method" value="patch">
  <% end %>
  
  <label for="title">Title</label><br>
  <input type="text" id="title" name="post[title]" value="<%= defined?(post) ? post.title : '' %>"><br>
  
  <label for="content">Content</label><br>
  <input type="text" id="content" name="post[content]" value="<%= defined?(post) ? post.content : '' %>">
  
  <input type="submit" value="<%= defined?(post) && post.persisted? ? 'Update' : 'Create' %>">
</form>
