<form action ="/posts"method="post">
  <label for="title">Title</label><br>
  <input type="text" id="title" name="post[title]"><br>
  <label for="content">content</label><br>
  <input type="text" id="content" name="post[content]">
  <input type="submit" value="Submit">
</form>